extends layout
block content
		script(src='js/jsreport.min.js', type='text/javascript')
		script(src='js/jsreport.js', type='text/javascript')
		input(type='button', title='test', ng-click='generateReport();', value='Get PDF Report')
		#placeholder(style='height:900px;')

		
