doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title SB Admin - Start Bootstrap Template
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // Plugin CSS
    link(href='vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/sb-admin.css', rel='stylesheet')
  body#page-top
    // Navigation
    nav#mainNav.navbar.static-top.navbar-toggleable-md.navbar-inverse.bg-inverse
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarExample', aria-controls='navbarExample', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='#') Start Bootstrap
      #navbarExample.collapse.navbar-collapse
        ul.sidebar-nav.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              i.fa.fa-fw.fa-dashboard
              |  Dashboard
          li.nav-item
            a.nav-link(href='/users')
              i.fa.fa-fw.fa-area-chart
              |  Charts
          li.nav-item
            a.nav-link(href='#')
              i.fa.fa-fw.fa-table
              |  Tables
          li.nav-item
            a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseComponents')
              i.fa.fa-fw.fa-wrench
              |  Components
            ul#collapseComponents.sidebar-second-level.collapse
              li
                a(href='#') Fixed Navigation
              li
                a(href='#') Custom Card Examples
              li
                a(href='#') Blank Page
              li
                a(href='#') Login Page
          li.nav-item
            a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseMulti')
              i.fa.fa-fw.fa-sitemap
              |  Menu Levels
            ul#collapseMulti.sidebar-second-level.collapse
              li
                a(href='#') Second Level Item
              li
                a(href='#') Second Level Item
              li
                a.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseMulti2') Third Level
                ul#collapseMulti2.sidebar-third-level.collapse
                  li
                    a(href='#') Third Level Item
                  li
                    a(href='#') Third Level Item
        ul.navbar-nav.ml-auto
          li.nav-item.dropdown
            a#messagesDropdown.nav-link.dropdown-toggle.mr-lg-2(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              i.fa.fa-fw.fa-envelope
              span.hidden-lg-up
                | Messages 
                span.badge.badge-pill.badge-primary 12 New
              span.new-indicator.text-primary.hidden-md-down
                i.fa.fa-fw.fa-circle
                span.number 12
            .dropdown-menu(aria-labelledby='messagesDropdown')
              h6.dropdown-header New Messages:
              .dropdown-divider
              a.dropdown-item(href='#')
                strong David Miller
                span.small.float-right.text-muted 11:21 AM
                .dropdown-message.small
                  | Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!
              .dropdown-divider
              a.dropdown-item(href='#')
                strong Jane Smith
                span.small.float-right.text-muted 11:21 AM
                .dropdown-message.small
                  | I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!
              .dropdown-divider
              a.dropdown-item(href='#')
                strong John Doe
                span.small.float-right.text-muted 11:21 AM
                .dropdown-message.small
                  | I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.
              .dropdown-divider
              a.dropdown-item.small(href='#')
                | View all messages
          li.nav-item.dropdown
            a#alertsDropdown.nav-link.dropdown-toggle.mr-lg-2(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              i.fa.fa-fw.fa-bell
              span.hidden-lg-up
                | Alerts 
                span.badge.badge-pill.badge-warning 6 New
              span.new-indicator.text-warning.hidden-md-down
                i.fa.fa-fw.fa-circle
                span.number 6
            .dropdown-menu(aria-labelledby='alertsDropdown')
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              a.dropdown-item(href='#') Something else here
          li.nav-item
            form.form-inline.my-2.my-lg-0.mr-lg-2
              .input-group
                input.form-control(type='text', placeholder='Search for...')
                span.input-group-btn
                  button.btn.btn-primary(type='button')
                    i.fa.fa-search
          li.nav-item
            a.nav-link(href='#')
              i.fa.fa-fw.fa-sign-out
              |  Logout
    .content-wrapper.py-3
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Dashboard
          li.breadcrumb-item.active My Dashboard
        // Icon Cards
          
    // /.content-wrapper
    a.scroll-to-top.rounded(href='#page-top')
      i.fa.fa-chevron-up
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/tether/tether.min.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    script(src='vendor/chart.js/Chart.min.js')
    script(src='vendor/datatables/jquery.dataTables.js')
    script(src='vendor/datatables/dataTables.bootstrap4.js')
    // Custom scripts for this template
    script(src='js/sb-admin.min.js')
